.portfolio__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
    padding: 0;
}

@media screen and (max-width: 769px) {
    .portfolio__list {
        margin-bottom: 90px;
    }
}