.aboutProject__duration {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
    color: black;
    border: solid 2px #F2F2F2;
    width: 920px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1281px) {
    .aboutProject__duration {
        width: 910px;
        height: 36px;
    }
}

@media screen and (max-width: 1240px) {
    .aboutProject__duration {
        width: 810px;
    }
}

@media screen and (max-width: 1190px) {
    .aboutProject__duration {
        width: 610px;
    }
}

@media screen and (max-width: 880px) {
    .aboutProject__duration {
        width: 540px;
    }
}



@media screen and (max-width: 795px) {
    .aboutProject__duration {
        width: 528px;
    }
}

@media screen and (max-width: 728px) {
    .aboutProject__duration {
        width: 428px;
    }
}

@media screen and (max-width: 627px) {
    .aboutProject__duration {
        width: 328px;
    }
}

@media screen and (max-width: 527px) {
    .aboutProject__duration {
        width: 228px;
    }
}

@media screen and (max-width: 410px) {
    .aboutProject__duration {
        width: 190px;
    }
}


@media screen and (max-width: 358px) {
    .aboutProject__duration {
        font-size: 11px;
        line-height: 13px;
        width: 184px;
        height: 35px;
    }
}