.aboutMe__text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 0 100px 0;
    padding: 0;
    color: black;
}

@media screen and (max-width: 1281px) {
    .aboutMe__text {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 769px) {
    .aboutMe__text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 85px 0;
    }
}