.aboutProject__duration_back {
    color: white;
    background-color: #3456F3;
    border: solid 2px #3456F3;
    width: 230px;
}

@media screen and (max-width: 1281px) {
    .aboutProject__duration_back {
        width: 228px;
    }
}

@media screen and (max-width: 769px) {
    .aboutProject__duration_back {
        width: 120px;
    }
}

@media screen and (max-width: 321px) {
    .aboutProject__duration_back {
        width: 80px;
    }
}