.login__input {
    border: none;
    margin: 0 auto 25px;
    padding: 0 0 10px 0;
    border-bottom: solid 2px #E8E8E8;
    background-color: inherit;
    outline: none;
    width: 100%;
    align-self: center;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}