.navTab {
  background-color: #F5F5F5;
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  height: 76px;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .navTab {
    height: 66px;
  }
}