.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 321px) {
    .footer__container {
        flex-direction: column-reverse;;
        align-items: center;
    }
}