.techs__main-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    padding: 0 0 100px 0;
}

@media screen and (max-width: 769px) {
    .techs__main-container {
        padding: 0 0 90px 0;
    }
}

@media screen and (max-width: 734px) {
    .techs__main-container {
        padding: 0 0 70px 0;
        flex-wrap: wrap;
    }
}