.aboutMe__info-box {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    align-items: flex-start;
}

@media screen and (max-width: 769px) {
    .aboutMe__info-box {
        max-width: 364px;
    }
}

@media screen and (max-width: 321px) {
    .aboutMe__info-box {
        max-width: 292px;
    }
}