.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
    padding: 70px 0 0;
}

@media screen and (max-width: 769px) {
    .welcome {
        max-width: 396px;
        width: 100%;
        padding: 232px 0 0;
    }
}