.searchForm__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0 20px 0 0;
}

@media screen and (max-width: 1281px) {
    .searchForm__text {
        font-size: 13px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 321px) {
    .searchForm__text {
        font-size: 11px;
        line-height: 18px;
    }
}