.searchForm__search-button {
    width: 80px;
    margin: 0;
    padding: 0;
    height: 34px;
    border: #3456F3 solid 1px;
    border-radius: 48px;
    background: #3456F3 url(../../../images/slider-icon.png) center no-repeat;
    transition: .4s ease-in opacity;
}

.searchForm__search-button:hover {
    cursor: pointer;
    opacity: .4;
}